{% extends "base.html" %}

{% set BANNER = "img/backgrounds/blooming4.jpg" %}
{% set BANNER_HEIGHT = "250" %}

{% block banner_title %}<h1>We are building a nonprofit search engine for the Web</h1>{% endblock %}

{% block banner_buttons %}
	<a href="/mission" class="btn btn-primary btn-lg">Our mission &raquo;</a>
	<a href="/contributing" class="btn btn-success btn-lg">Contribute &raquo;</a>
{% endblock %}

{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}">{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-sm-6">

			<h3><a href="/mission">Discover our mission</a></h3>
			<p>Why do we need a nonprofit search engine at all?</p>

			<h3><a href="/values">Understand our values</a></h3>
			<p>What makes us different: radical transparency, independence, ...</p>

			<h3><a href="/faq">Frequently Asked Questions</a></h3>
			<p>What about spam? Do you accept donations?</p>

			<h3><a href="https://uidemo.commonsearch.org/">User Interface Demo</a></h3>
			<p>Our first prototype search engine, with partial results.</p>

		</div>

		<div class="col-sm-6">

			<h3><a href="/roadmap">Current status &amp; Roadmap</a></h3>
			<p>Check the state of the project and what's next for us</p>

			<h3><a href="/contributing">How to contribute</a></h3>
			<p>We welcome developers, designers, testers and more!</p>

			<h3><a href="/data-sources">Data sources</a></h3>
			<p>Where do our results come from?</p>

			<h3><a href="https://discuss.commonsearch.org/">Discussion forums</a></h3>
			<p>Join the community and give your feedback on the project!</p>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h3>Set Common Search UI Demo as your Default Search Engine on Chrome (very early beta)</h3>

			<ol>
				<li>Click on the Chrome menu icon on the top right of your browser</li>
				<li>Click <strong>Settings</strong></li>
				<li>Under the <strong>Search</strong> header click <strong>Manage search engines</strong></li>
				<li>Scroll to the bottom of the <strong>Other search engines</strong> section</li>
				<li>You should see three fields to enter a new search engine.<br /><br />

				<strong>Add a new search engine:</strong><br />
				Enter, "Common Search" <br /><br />
				<strong>Keyword:</strong><br />
				Enter, "commonsearch.org" <br /><br />
				<strong>URL with %s in place of query:</strong><br />
				Enter, "https://uidemo.commonsearch.org/?g=en&q=%s"<br /><br /></li>
				<li>Press <strong>enter</strong> on your keyboard</li>
				<li>Scroll up and find <strong>Common Search</strong> under the same <strong>Other search engines</strong> section you are already in</li>
				<li><strong>Hover</strong> your mouse over the Common Search entry you just made, and click on the <strong>Make Default</strong> button.</li>
				<li>Congrats! You are now using Common Search as your default search engine :)</li>
			</ol>
		</div>
	</div>

{% endblock %}
